body { 
    background-color: rgb(224, 215, 206);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
}

img {
    max-width: 90%;
}

li {
    margin-bottom: 15px;
    list-style-type: square;
    text-align: left;
    font-style: italic;
}

.list {
    font-weight: bold;
    color: rgb(136, 21, 21);
    text-decoration: underline;
    font-style: normal;
}

.title { 
    text-align: center;
    font-size:4rem;
    margin-bottom: 0px;
}

.subtitle { 
    text-align: center;
    font-size: 2rem;
    font-style: italic;
    font-family: cursive;
    margin-top: 0px;
}

.caption {
    text-align: center;
    font-style: italic;
}

.subheader {
    font-style: normal;
    font-size: 2rem;
}
#main {
    font-size: 1.4rem;
}

#pic {
    text-align: center;
}